@model PagedList.IPagedList<Models.EF.Content>

@using PagedList.Mvc;


@{
    ViewBag.Title = "Tin Tức";
    var listTag = (List<Models.EF.Tag>)ViewBag.Tag;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar">
    <span><a href="/"><i class="fas fa-home"></i> Trang Chủ</a> / <a href="/tin-tuc">Tin Tức</a></span>
</nav>
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    @using (Html.BeginForm("Index", "Content", FormMethod.Get))
                                    {
                                        <div class="product-search">
                                            <input type="text" value="@ViewBag.SearchString" name="searchString" />
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        
                        <div class="product-view-top">

                            @foreach (var item in Model)
                            {
                                var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;
                            <div class="row" style="padding:15px; border-top:1px solid #b9b8b8">
                                <div class="col-sm-5">
                                    <div class="product-item">
                                        <div class="product-title">

                                        </div>
                                        <div class="product-image">
                                            <a href="@link">
                                                <img src="@item.Image" alt="@item.Name">
                                            </a>
                                        </div>
                                        <div class="product-price">




                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <a href="@link"> <h3>@item.Name</h3></a>
                                    <p>@item.CreatedDate<span>  by:  <a href="#">@item.CreatedBy</a></span></p>
                                    <p style="color:#808080">@item.Decscription <a href="@link" title="more">[....]</a></p>
                                </div>
                            </div>
                                    }

                                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
                               {
                                   LiElementClasses = new List<string> { "page-item", "page-link" },


                               })
                                
                            </div>
                        </div>
                    </div>

                <!-- Pagination Start -->
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <nav class="navbar bg-light">

                        @{ Html.RenderAction("Category", "Content");}
                    </nav>
                </div>
                <div class="sidebar-widget tag">
                    <h2 class="title">Tags</h2>
                    @foreach (var item in listTag)
                    {
                        <a href="/tag/@item.ID">@item.Name</a>
                    }

                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
    </div>