@model PagedList.IPagedList<Models.EF.Content>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @foreach (var item in Model)
    {
        var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;
        <div class="image group">
            <div class="grid images_3_of_1">
                <a href="@link"><img src="@item.Image" alt=""></a>
            </div>
            <div class="grid news_desc">
                <a href="@link"> <h3>@item.Name</h3></a>
                <h4>@item.CreatedDate<span><a href="#">@item.CreatedBy</a></span></h4>
                <p>@item.Decscription <a href="@link" title="more">[....]</a></p>
            </div>
        </div>
    }


    @*<div class="content-pagenation">
            <li><a href="#">Frist</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>....</span></li>
            <li><a href="#">Last</a></li>
            <div class="clear"> </div>
        </div>*@
</div>

