@model Models.EF.Feedback

@using BotDetect.Web.Mvc;

<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
      rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    MvcCaptcha feedbackCaptcha = new MvcCaptcha("feedbackCaptcha");
    feedbackCaptcha.UserInputID = "CaptchaCode";
}


<style>
    #mapCanvas {
        height: 500px;
    }
</style>
@section jsFooter{
    <script src="https://maps.googleapis.com/maps/api/js"></script>


    <script src="/Assets/Client/js/controller/contactController.js"></script>

    <script>

        // This example displays a marker at the center of Australia.
        // When the user clicks the marker, an info window opens.
        //21.046300, 105.793266
        function initMap() {
            var uluru = { lat: 10.970598, lng: 106.871879 };
            var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                zoom: 18,
                center: uluru
            });
            var contentString = 'aaa';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                title: 'Địa chỉ'
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

        }
        google.maps.event.addDomListener(window, 'load', initMap);

    </script>


}
@using (Html.BeginForm("Create", "FeedBack", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <h2>Gửi thông tin</h2>
                        <hr />

                        <br />

                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (ViewBag.Success != null)
                        {
                            <div class="alert alert-success">@ViewBag.Success</div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Html.Captcha(feedbackCaptcha)
                                @Html.TextBox("CaptchaCode")
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Gửi" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Bản đồ</h2>
                    <div class="map" id="mapCanvas"></div>
                    <h2>Thông tin liên hệ</h2>
                    <div>
                        <br />
                        Follow on:
                        <a href="https://www.facebook.com/caominhquan0512/"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/minwuaan_/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

