@*<!DOCTYPE HTML>
    <html>
    <head>
        <title>@ViewBag.Title</title>
        <meta name="keywords" content="@ViewBag.Keywords" />
        <meta name="description" content="@ViewBag.Descriptions" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/Assets/Client/css/bootstrap.css" rel="stylesheet" />
        <link href="/Assets/Client/css/boostrap-social.css" rel="stylesheet" />

        <link href="/Assets/Client/css/bootstrap-theme.css" rel="stylesheet" />
        <link href="/Assets/Client/css/jquery-ui.css" rel="stylesheet" />



        <link href="/Assets/Client/style.css" rel="stylesheet" />
        <link href="/Assets/Client/css/slider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/Assets/Client/css/fontawesome.min.css" rel="stylesheet" />
        <link href="/Assets/Client/css/all.min.css" rel="stylesheet" />
        <link href="/Assets/Client/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />



        <script src="/Assets/Client/js/jquery-1.11.3.min.js"></script>
        <script src="/Assets/Client/js/jquery-ui.js"></script>
        <script src="/Assets/Client/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/Assets/Client/js/move-top.js"></script>
        <script type="text/javascript" src="/Assets/Client/js/easing.js"></script>
        <script type="text/javascript" src="/Assets/Client/js/startstop-slider.js"></script>
        <script src="/Assets/Client/js/easyResponsiveTabs.js" type="text/javascript"></script>

    </head>
    <body>
        <div class="wrap">
            <div class="header">
                <div class="headertop_desc">
                    @{Html.RenderAction("TopMenu", "Home");}
                </div>
                <div class="header_top">
                    <div class="logo">
                        <a href="/" ref="nofollow"><img src="~/Assets/Client/images/logoShop.png" alt="" /></a>
                    </div>
                    @{ Html.RenderAction("HeaderSave", "Home");}

                    <script type="text/javascript">
                        function DropDown(el) {
                            this.dd = el;
                            this.initEvents();
                        }
                        DropDown.prototype = {
                            initEvents: function () {
                                var obj = this;

                                obj.dd.on('click', function (event) {
                                    $(this).toggleClass('active');
                                    event.stopPropagation();
                                });
                            }
                        }

                        $(function () {

                            var dd = new DropDown($('#dd'));

                            $(document).click(function () {
                                // all dropdowns
                                $('.wrapper-dropdown-2').removeClass('active');
                            });

                        });

                    </script>

                    <div class="clear"></div>
                </div>
                <div class="header_bottom">
                    @{Html.RenderAction("MainMenu", "Home");}

                    <div class="clear"></div>
                </div>


                @RenderSection("slide", required: false)

            </div>
            <div class="main">
                @RenderBody()
            </div>
        </div>
        <div class="footer">
            @{Html.RenderAction("Footer", "Home");}
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $().UItoTop({ easingType: 'easeOutQuart' });
                $('#about').addClass('active');
            });
        </script>
        <a href="#" id="toTop"><span id="toTopHover"> </span></a>
        <script src="/Assets/Client/js/controller/baseController.js"></script>

        @RenderSection("jsFooter", required: false)
    </body>
    </html>*@



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="/Assets/Customer/img/favicon.ico" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/Assets/Customer/lib/slick/slick.css" rel="stylesheet">
    <link href="/Assets/Customer/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/Assets/Customer/css/style.css" rel="stylesheet">
</head>

<body>
    @RenderSection("jsHeader", required: false)
    <!-- Top bar End -->
    <!-- Nav Bar Start -->

    @{Html.RenderAction("TopMenu", "Home");}
    <!-- Nav Bar End -->
    <!-- Bottom Bar Start -->
    @{ Html.RenderAction("HeaderSave", "Home");}

    @{Html.RenderAction("MainMenu", "Home");}
    <!-- Bottom Bar End -->
    <!-- Main Slider Start -->
    @RenderSection("slide", required: false)
    <!-- Main Slider End -->
    <!-- Brand Start -->
    @RenderBody()

    <!-- Review End -->
    <!-- Footer Start -->
    @{Html.RenderAction("Footer", "Home");}
    <!-- Footer Bottom End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/Assets/Customer/lib/easing/easing.min.js"></script>
    <script src="/Assets/Customer/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="/Assets/Customer/js/main.js"></script>

    
    @RenderSection("jsFooter", required: false)
</body>
</html>

