@model List<WebBacklink.Models.SaveItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{
    <script src="/Assets/Client/js/controller/saveController.js"></script>
    }
<div class="content">

    <div class="section group">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã Sản Phẩm</td>
                        <td>Tên Sản Phẩm</td>
                        <td>Ảnh Sản Phẩm</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var link = "/chi-tiet" + item.Product.MetaTitle +"-"+ item.Product.ID;
                    <tr>
                        
                        <td>@item.Product.ID</td>
                        <td>@item.Product.Name</td>
                        <td><img src="@item.Product.Image" width="100" /></td>
                        <td><a href="@link"><button type="button" class="btn btn-light">Xem Chi Tiết</button></a></td>
                        <td><a href="#" data-id="@item.Product.ID" class="btn-delete"><i class="fas fa-minus-circle" style="color:red !important">Bỏ</i></a></td>
                    </tr>
                    }

                </tbody>
            </table>
            <button id="btnContinue" class="btn btn-primary">Quay Lại Trang Chủ</button>
            <button id="btnPayment" class="btn btn-info">Quay Lại Trang Sản Phẩm</button>
            <button id="btnDeleteAll" class="btn btn-danger">Xóa Tất Cả</button>

        }
        else
        {
            <span class="alert alert-danger" >Chưa Có Sản Phẩm Nào.</span>
        }

    </div>
    </div>
        

