@model Models.EF.Product


@{
    ViewBag.Title = Model.Name;
    ViewBag.Keywords = Model.MetaKeywords;
    ViewBag.Descriptions = Model.MetaDescriptions;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (Models.EF.ProductCategory)ViewBag.Category;
    var relatedProducts = (List<Models.EF.Product>)ViewBag.RelatedProducts;
    var xuly = ViewBag.xuly;
    var cmt = Model.MetaTitle + "-" + Model.ID;

}


@section jsHeader{
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1024793591616473&autoLogAppEvents=1" nonce="aph1qfQp"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1024793591616473&autoLogAppEvents=1" nonce="vHh82ekG"></script>
    <script>
    (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={1024793591616473}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
}

@section jsFooter{
    <script src="/Assets/Customer/js/controller/productController.js"></script>
}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6168ecfe9afe107b"></script>


<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="product-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="product-detail-top">
                    <div class="row align-items-center">
                        <div class="col-md-5">
                            <div class="product-slider-single normal-slider">
                                @foreach (var item in xuly)
                                {
                                    <img src="@item" alt="Product Image">
                                }

                            </div>
                            <div class="product-slider-single-nav normal-slider">
                                @foreach (var item in xuly)
                                {
                                    <div class="slider-nav-img"><img src="@item" alt="Product Image"></div>
                                }
                            </div>
                        </div>


                        <div class="col-md-7">
                            <div class="product-content">
                                <div class="title"><h2>@Model.Name</h2></div>
                                <div class="description">@Model.Decscription</div>
                                <div class="ratting">
                                </div>
                                <div class="price">
                                    <h4>Price:</h4>
                                    @(Model.Price.HasValue?Model.Price.Value.ToString("N0"):"Liên Hệ")
                                </div>

                                <div class="p-size">

                                    <div class="addthis_inline_share_toolbox_fw73"></div>

                                </div>
                                <div class="p-color">

                                </div>

                                <div class="action">
                                    <a class="btn" href="@Model.Link"><i class="fa fa-shopping-bag"></i>Đến Nơi Bán</a>
                                    <a class="btn" href="/them-gio-hang?productId=@Model.ID&quantity=1"><i class="fa fa-heart"></i>Yêu Thích</a>
                                </div>
                                <div class="p-size">
                                    
                                </div>
                                <div class="p-color">

                                    <a href="#" data-id="@Model.ID" class="btn-images text-center">Xem Thêm Ảnh Sản Phẩm</a>
                                </div>
                                <div class="p-size">
                                    <div class="fb-save" data-uri="http://caominhquan0512-001-site1.btempurl.com/chi-tiet/@cmt" data-size="large"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row product-detail-bottom">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#description">Mô Tả</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="description" class="container tab-pane active">
                                    <h4>Chi Tiết Sản Phẩm</h4>
                                    <p>
                                        @Html.Raw(Model.Detail)
                                    </p>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="fb-comments" data-href="http://caominhquan0512-001-site1.btempurl.com/chi-tiet/@cmt" data-width="" data-numposts="5"></div>
                        <div class="fb-comments" data-href="https://localhost:44371/chi-tiet/@cmt" data-width="" data-numposts="5"></div>
                        

                    </div>
                    <div class="product">
                        <div class="section-header">
                            <h1>Related Products</h1>
                        </div>

                        <div class="row align-items-center product-slider product-slider-3">

                            @foreach (var item in relatedProducts)
                            {
                                var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="@url">@item.Name</a>
                                        </div>
                                        <div class="product-image">
                                            <a href="product-detail.html">
                                                <img src="@item.Image" alt="Product Image">
                                            </a>
                                            <div class="product-action">
                                                <a href="@url"><i class="fas fa-info-circle"></i></a>
                                                <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-price">
                                            <h3><span></span></h3>
                                            <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i>Đến Nơi Bán</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <!-- Side Bar Start -->
                <!-- Side Bar End -->
            </div>
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">

                    <nav class="navbar bg-light">

                        @{ Html.RenderAction("ProductCategory", "Product");}
                    </nav>
                </div>
                <div class="clear"></div>
                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">
                        @foreach (var item in relatedProducts.Take(3))
                        {
                            var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="@url">@item.Name</a>
                                </div>
                                <div class="product-image">
                                    <a href="@url">
                                        <img src="@item.Image" alt="@item.Name">
                                    </a>
                                    <div class="product-action">
                                        <a href="@url"><i class="fas fa-info-circle"></i></a>
                                        <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <h3><span></span></h3>
                                    <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i>Đến Nơi Bán</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>

                <div id="imagesManage" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                <div id="imageList">
                                </div>
                                <div class="clear"></div>
                                <input type="hidden" id="hidProductID" value="0" />
                            </div>

                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>