@model PagedList.IPagedList<Models.EF.Product>
@using PagedList.Mvc;
@{
    var category = (Models.EF.ProductCategory)ViewBag.Category;
    var listFeatureProducts = (List<Models.EF.Product>)ViewBag.ListFeatureProducts;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar">
    <span ><a href="/"><i class="fas fa-home"></i> Trang Chủ</a> / <a href="/san-pham">Sản Phẩm</a></span>
</nav>
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                                    {
                                        <div class="product-search">
                                            <input type="text" value="@ViewBag.SearchString" name="searchString" />
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                        <div class="col-md-4">
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="@url">@item.Name</a>
                                </div>
                                <div class="product-image">
                                    <a href="@url">
                                        <img src="@item.Image" alt="@item.Name">
                                    </a>
                                    <div class="product-action">
                                        <a href="@url"><i class="fas fa-info-circle"></i></a>
                                        <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">

                                    <h3><span></span></h3>
                                    <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>


                                </div>
                            </div>
                        </div>

                    }


                </div>
                
                

                <!-- Pagination Start -->
                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        
                        <ul class="pagination justify-content-center">
                            
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }), new PagedListRenderOptions
           {
               LiElementClasses = new List<string> { "page-item", "page-link" }
           })
                        </ul>
                    </nav>
                </div>
                <!-- Pagination Start -->
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">

                    <nav class="navbar bg-light">
                        
                        @{ Html.RenderAction("ProductCategory", "Product");}
                    </nav>
                </div>
                <div class="sidebar-widget category">
                    <h3 style="color:#fff;background:#4facfe;width:100%;text-align:center;padding:10px;">Hot</h3>
                </div>
                
                <div class="sidebar-widget widget-slider">
                    <div class="sidebar-slider normal-slider">

                        @foreach (var item in listFeatureProducts)
                        {
                            var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                            <div class="product-item">
                                <div class="product-title">
                                    <a href="@url">@item.Name</a>
                                </div>
                                <div class="product-image">
                                    <a href="@url">
                                        <img src="@item.Image" alt="@item.Name">
                                    </a>
                                    <div class="product-action">
                                        <a href="@url"><i class="fas fa-info-circle"></i></a>
                                        <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>
                                        <a href="#"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="product-price">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <a class="btn" style="font-size:11px" href="@url"><i class="fas fa-info-circle"></i> Xem Chi tiết</a>

                                        </div>
                                        <div class="col-lg-6">
                                            <a class="btn" style="font-size:11px" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>



            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>


