
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Models.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Models.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Models.EF.Product>)ViewBag.ListFeatureProducts;
    var listContents = (List<Models.EF.Content>)ViewBag.NewContents;
}

@section slide
{
    <!--<div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                { Html.RenderAction("ProductCategory", "Product");}
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">

                        foreach (var item in slides)
                        {-->
    <!--<div class="slide" id="slide-1">
    <div class="slider-img">
        <a href="item.Link"><img src="item.Image" alt="learn more" /></a>
    </div>
    <div class="slider-text">
        <h1>item.Name<br><span>SALE</span></h1>
                    <h2>UPTo 20% OFF</h2>-->
    <!--<div class="features_list">
                <h4>item.Description</h4>
            </div>
            <a href="item.Link" class="button">Đến Nơi Bán</a>
        </div>
        <div class="clear"></div>
    </div>-->
    <!--}

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>-->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    
                    <nav class="navbar bg-light">
                        
                        @{ Html.RenderAction("ProductCategory", "Product");}
                    </nav>
                </div>
                <div class="col-md-6">
                    <div class="header-slider normal-slider">
                        @foreach (var item in slides)
                        {
                            <div class="header-slider-item">
                                <img src="@item.Image" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>@item.Name</p>
                                    <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i>Đến Nơi Bán</a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-img">
                        <div class="img-item">
                            <img src="img/category-1.jpg" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                        <div class="img-item">
                            <img src="img/category-2.jpg" />
                            <a class="img-text" href="">
                                <p>Some text goes here that describes the image</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">
                <div class="brand-item"><img src="img/brand-1.png" alt=""></div>
                <div class="brand-item"><img src="img/brand-2.png" alt=""></div>
                <div class="brand-item"><img src="img/brand-3.png" alt=""></div>
                <div class="brand-item"><img src="img/brand-4.png" alt=""></div>
                <div class="brand-item"><img src="img/brand-5.png" alt=""></div>
                <div class="brand-item"><img src="img/brand-6.png" alt=""></div>
            </div>
        </div>
    </div>
    <!-- Brand End -->
    <!-- Feature Start-->
    <div class="feature">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fab fa-cc-mastercard"></i>
                        <h2>Secure Payment</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-truck"></i>
                        <h2>Worldwide Delivery</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-sync-alt"></i>
                        <h2>90 Days Return</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-comments"></i>
                        <h2>24/7 Support</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->
    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in listContents)
                {
                    var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-4">
                        <div class="category-item ch-400">
                            <img src="@item.Image" />
                            <a class="category-name" href="@link">
                                <p>@item.Name</p>
                            </a>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- Category End-->
    <!-- Call to Action Start -->
    <div class="call-to-action">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>Chúc Một Ngày Tốt Lành</h1>
                </div>
                <div class="col-md-6">
                    <a href="tel:0123456789">+012-345-6789</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->
    <!-- Featured Product Start -->
    <div class="featured-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Featured Product</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in listFeatureProducts)
                {
                    var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="@url">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                                <div class="product-action">
                                    <a href="@url"><i class="fas fa-info-circle"></i></a>
                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>

                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">

                                <h3><span></span></h3>
                                <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>


                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Featured Product End -->
    <!-- Newsletter Start -->
    <!-- Newsletter End -->
    <!-- Recent Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Recent Product</h1>
            </div>

            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in listNewProducts)
                {
                    var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="@url">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                                <div class="product-action">
                                    <a href="@url"><i class="fas fa-info-circle"></i></a>
                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>

                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">

                                <h3><span></span></h3>
                                <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>


                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Recent Product End -->
    <!-- Review Start -->
</div>

@*<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Sản Phẩm Mới</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem Tất Cả Sản Phẩm <i class="fas fa-chevron-circle-right"></i></a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group" style="display:flex;flex-wrap:wrap;justify-content:space-evenly">

        @foreach (var item in listNewProducts)
        {
            var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.MetaKeywords" title="@item.Name"></a>
                <h2>@item.Name</h2>
                <p style="color:darkgray">@item.Decscription</p>
                <div style="display:flex;justify-content:space-around;border-top:1px solid blue;padding:10px;">
                    <div>
                        <p>Giá: <span class="rupees" style="color:red;">@(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên Hệ")</span></p>

                    </div>
                    <div style="float: right;"><a href="/them-gio-hang?productId=@item.ID&quantity=1" style="font-size:13px; text-decoration:none ;"><i class="fas fa-archive"></i> Xem Sau</a></div>

                    <div class="clear"></div>
                </div>
                <div style="display:flex; justify-content:space-around;flex-wrap:wrap">
                    <h4><a href="@url" title="Xem Chi Tiết" class="btn btn-success">Xem Chi Tiết</a></h4>
                    <h4><a href="@item.Link" class="btn btn-primary">Đến Nơi Bán</a></h4>
                </div>
            </div>
        }



    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>Sản Phẩm Nổi Bật</h3>
        </div>
        <div class="see">
            <p><a href="/san-pham">Xem Tất Cả Sản Phẩm <i class="fas fa-chevron-circle-right"></i></a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group" style="display:flex;flex-wrap:wrap;justify-content:space-evenly">
        @foreach (var item in listFeatureProducts)
        {
            var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt="@item.MetaKeywords"></a>
                <h2>@item.Name</h2>
                <p style="color:darkgray">@item.Decscription</p>
                <div style="display:flex;justify-content:space-around;border-top:1px solid blue;padding:10px;">
                    <div>
                        <p>Giá: <span class="rupees" style="color:red;">@(item.Price.HasValue?item.Price.Value.ToString("N0"):"Liên Hệ")</span></p>

                    </div>
                    <div><a href="/them-gio-hang?productId=@item.ID&quantity=1" style="font-size:13px; text-decoration:none"><i class="fas fa-archive"></i> Xem Sau</a></div>

                    <div class="clear"></div>
                </div>
                <div style="display:flex; justify-content:space-around;flex-wrap:wrap">
                    <h4><a href="@url" title="Xem Chi Tiết" class="btn btn-success">Xem Chi Tiết</a></h4>
                    <h4><a href="@item.Link" class="btn btn-primary">Đến Nơi Bán</a></h4>
                </div>
            </div>
        }

    </div>
</div>*@
