
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Models.EF.Slide>)ViewBag.Slides;
    var listNewProducts = (List<Models.EF.Product>)ViewBag.NewProducts;
    var listFeatureProducts = (List<Models.EF.Product>)ViewBag.ListFeatureProducts;
    var listContents = (List<Models.EF.Content>)ViewBag.NewContents;
}

@section slide
{
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    
                    <nav class="navbar bg-light">
                        
                        @{ Html.RenderAction("ProductCategory", "Product");}
                    </nav>
                </div>
                <div class="col-md-9" >
                    <div class="header-slider normal-slider">
                        @foreach (var item in slides)
                        {
                            <div class="header-slider-item">
                                
                                <img src="@item.Image" alt="Slider Image" style="width:100%"/>
                                <div class="header-slider-caption">
                                    <h1 style="color:white">@item.Name</h1>
                                    <p>@item.Description</p>

                                    <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i>Xem Ngay</a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <div class="brand">
        <div class="container-fluid">
            <div class="brand-slider">

            </div>
        </div>
    </div>
    <!-- Brand End -->
    <!-- Feature Start-->
    <div class="feature">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fas fa-wallet"></i>
                        <h2>Giá Rẻ</h2>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fas fa-star"></i>
                        <h2>Uy Tín</h2>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fas fa-check-circle"></i>
                        <h2>Chất Lượng</h2>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-comments"></i>
                        <h2>24/7 Hỗ Trợ</h2>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Feature End-->
    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in listContents)
                {
                    var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;
                    <div class="col-md-4">
                        <div class="category-item ch-400">
                            <img src="@item.Image" style="width:100%" />
                            <a class="category-name" href="@link">
                                <p>@item.Name</p>
                            </a>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- Category End-->
    <!-- Call to Action Start -->
    <div class="call-to-action">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>Chúc Một Ngày Tốt Lành</h1>
                </div>
                <div class="col-md-6">
                    <a href="#">CM-REVIEWSHOP</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->
    <!-- Featured Product Start -->
    <div class="featured-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Sản Phẩm Hot</h1>
            </div>
            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in listFeatureProducts)
                {
                    var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="@url">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                                <div class="product-action">
                                    <a href="@url"><i class="fas fa-info-circle"></i></a>
                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>

                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">

                                <h3><span></span></h3>
                                <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>


                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- Featured Product End -->
    <!-- Newsletter Start -->
    <!-- Newsletter End -->
    <!-- Recent Product Start -->
    <div class="recent-product product">
        <div class="container-fluid">
            <div class="section-header">
                <h1>Sản Phẩm Mới</h1>
            </div>

            <div class="row align-items-center product-slider product-slider-4">
                @foreach (var item in listNewProducts)
                {
                    var url = "/chi-tiet" + item.MetaTitle + "-" + item.ID;
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">@item.Name</a>
                            </div>
                            <div class="product-image">
                                <a href="@url">
                                    <img src="@item.Image" alt="@item.Name">
                                </a>
                                <div class="product-action">
                                    <a href="@url"><i class="fas fa-info-circle"></i></a>
                                    <a href="/them-gio-hang?productId=@item.ID&quantity=1"><i class="fa fa-heart"></i></a>

                                    <a href="#"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-price">

                                <h3><span></span></h3>
                                <a class="btn" href="@item.Link"><i class="fa fa-shopping-cart"></i> Đến Nơi Bán</a>


                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <div class="review">
        <div class="container-fluid">
            <div class="product">
                <div class="section-header">
                    <h1>Tin Tức</h1>
                </div>
            </div>
            <div class="row align-items-center review-slider normal-slider">
                @foreach (var item in listContents)
        {

            var link = "/chi-tiet-bao" + item.MetaTitle + "-" + item.ID;

            <div class="col-md-6">
                <div class="review-slider-item">
                    <div class="review-img">
                        <a href="@link"><img src="@item.Image" alt="@item.MetaKeywords"></a>
                    </div>
                    <div class="review-text">
                        <a href="@link"><h2>@item.Name</h2></a>
                        <h3>@item.CreatedDate by: @item.CreatedBy</h3>
                        <p>
                            @item.Decscription
                        </p>
                    </div>
                </div>
            </div>

        }

            </div>
            </div>
    </div>
    <div class="col-lg-12">
        <img src="~/Assets/Customer/img/end.gif" style="width:100%" />
    </div>
    <!-- Recent Product End -->
    <!-- Review Start -->
</div>